@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@keyframes moveInTop2 {
  0% {
    opacity: 0;
    transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(60deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes floatingText {
  0% {
    transform: translate(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translate(0); } }

@keyframes floatingText2 {
  0% {
    transform: translate(0); }
  50% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(0); } }

@keyframes floatingIcon {
  0% {
    transform: translate(0); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translate(0); } }

@keyframes scaleit {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600; }

.text-header h1 {
  color: white;
  font-size: 1.3rem;
  padding: 1rem; }

h1 {
  color: white; }

.text-header2 {
  margin-top: 5vh;
  font-size: 1.2rem;
  margin-bottom: 4vh; }
  .text-header2 h2 {
    color: white; }

.text-headerr {
  text-transform: uppercase;
  font-size: 1.8rem;
  display: inline-block;
  background-image: linear-gradient(to right, #e0e4e0, #abc8ab);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.5rem 0.5rem;
  text-align: center;
  font-weight: 700; }

body {
  background: url(../../images/bg_green.svg);
  height: auto;
  background-repeat: no-repeat; }

.header {
  height: 100vh;
  padding-top: 5vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .nav {
    width: 30%;
    height: 80vh; }
    .header .nav__textbox {
      text-align: center;
      margin-top: 5vh;
      animation: floatingText 6s infinite; }
      .header .nav__textbox h3 {
        animation: floatingText2 10s infinite; }
    .header .nav__list {
      text-align: center;
      margin-top: 5vh;
      animation: floatingText 5s infinite; }
      .header .nav__list div {
        animation: moveInLeft 2s;
        display: block;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out .3s; }
        .header .nav__list div:hover {
          background-color: rgba(52, 204, 128, 0);
          transform: scale(1.07); }
          .header .nav__list div:hover a {
            color: white; }
        .header .nav__list div a {
          text-decoration: none;
          font-size: 1.2rem;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white; }
  .header .content {
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .content .image {
      background: url(../../images/icecreamgreen.svg);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      height: 70%;
      width: 60%;
      animation: rotate 11s forwards infinite;
      position: relative; }

::-webkit-scrollbar {
  display: none; }

html {
  scroll-behavior: smooth; }

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  main .whatiknow {
    width: 90%;
    height: 97vh;
    margin-top: 5vh;
    text-align: center; }
    main .whatiknow__content {
      width: 100%;
      height: 100%; }
      main .whatiknow__content__left {
        flex: 1;
        display: grid;
        grid-template-columns: auto auto auto auto; }
        main .whatiknow__content__left div {
          text-align: center;
          transition: ease-in-out .5s;
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
          margin: 1rem; }
          main .whatiknow__content__left div:hover {
            transform: scale(1.05); }
      main .whatiknow__content__right {
        flex: 1;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 2rem; }
        main .whatiknow__content__right div {
          text-align: center;
          transition: ease-in-out .5s;
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
          margin: 1rem; }
          main .whatiknow__content__right div:hover {
            transform: scale(1.05); }
  main section {
    margin-bottom: 5rem; }
  main .projects {
    width: 88%;
    text-align: center; }
    main .projects__content .project {
      margin-bottom: 2rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: ease-in-out .5s; }
      main .projects__content .project__image {
        width: 550px; }
        main .projects__content .project__image img {
          max-width: 100%;
          max-height: 100%;
          display: block;
          padding: 2rem; }
      main .projects__content .project:hover {
        background: linear-gradient(to right, rgba(7, 182, 7, 0.513), rgba(88, 199, 88, 0.445));
        cursor: pointer;
        transform: scale(1.02); }
  main .illustrations {
    width: 90%;
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    main .illustrations .ill {
      margin: 3rem;
      transition: ease-in-out .7s;
      border-radius: 3rem; }
      main .illustrations .ill:hover {
        background-color: rgba(255, 255, 255, 0.287);
        cursor: pointer; }
  main .contact {
    width: 90%;
    height: 97vh;
    margin-top: 5vh; }
    main .contact form {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .contact form input {
        width: 14rem;
        height: 3rem;
        border-radius: 2rem;
        border: none;
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2rem; }
      main .contact form textarea {
        border: none;
        text-align: center;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        height: 10rem;
        margin-bottom: 2rem; }
      main .contact form button {
        width: 8rem;
        height: 3rem;
        background-color: rgba(25, 172, 25, 0.459); }

button {
  background-color: black;
  color: white;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 4rem; }
