
body {
    background-color: $secondary-color;
}
.header {
    padding: .5rem;
    background: url(../../assets/tree.png);
    background-position: bottom;
    background-size: cover;
    &__profile {
        display: flex;
        justify-content: center;
        padding: 2rem;
        &__img {
            margin-right: 2rem;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 1rem;
            font-size: .7rem;
            color: $secondary-color;
        }
    }
    &__navigation {
        display: flex;
        justify-content: center;
        width: 100%;
        a {
            margin: .5rem;
            padding: .9rem;
            border-radius: 2rem;
            text-align: center;
            font-size: .9rem;
            text-decoration: none;
            color: $secondary-color;
            transition: all .2s;
            text-transform: uppercase;
            font-weight: 600;
        }
        a:hover {
            color: white;
        }
    }

    &__links {
        position: absolute;
        top: 0rem;
        left: 0rem;
        padding: 2rem;
        * {
            margin-right: 1rem;
        }
    }
}