

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    &__stack {
        margin-top: 3rem;
        grid-column: 2 / 11;

        &__tech {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}


.tech__card {
    margin: 1rem;
}