@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.about {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;


    &__whatiknow {
        &__web {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: start;
            flex: 1;
            &__tech {
                padding: 2rem;
                img {
                    padding: 1rem;
                }
            }
            &__other {
                padding: 2rem;
                img {
                    padding: 1rem;
                }
            }
        }
    }
}