@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.art {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 4em;

    &__title {
        transition: all .5s;
        &:hover {
            transition: all .5s;
            transform: scale(1.05)
        }
    }

    &__pieces {
        margin: 2em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.artpiece {
    transition: all 1s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &__img {
        display: flex;
        justify-content: center;
        transition: all 2s;
        padding: 4em;
        &:hover {
            transition: all 2s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    
}