.container {
    &__main {
        &__topImage {
            display: flex;
            justify-content: center;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mysvg {
    path {
        transition: all 3s;
    }
    path:hover {
        fill: $secondary-color;
        transition: all .4s;
    }
}