
.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 2rem;

    &__hero {
        height: 50vh;
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        &__title {
            grid-column: 2 / -1;
            color: $mblue;
            font-size: 3.5rem;
            align-self: center;
        }
    }

    &__blog {
        grid-column: 7 / 12;
        padding: .2rem;
        color: $mblue;
        margin-top: 3rem;
        &__title {
            font-size: 1.5rem;
        }
        &__blog {
            padding: 1rem;
            &__blog {
                border-top: 2px solid $dblue;
                font-size: 1rem;
                padding: 1rem;
                * {
                    margin-bottom: .3rem;
                }
                &:hover {
                    color: $dblue;
                    cursor: pointer;
                }
            }
            
        }
    }

    &__projects {
        grid-column: 2 / 12;
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        &__title {
            grid-column: 2 / -1;
            font-size: 1.4rem;
            color: $dblue;
        }
        &__projects {
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
        }
    }
}
