

.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 4rem;
    &__profile {
        grid-column: 1 / 6;
        border-top-right-radius: 2rem;
        display: flex;
        justify-content: center;
        padding: 2rem;
        align-items: flex-start;
        text-align: center;
        color: $fifth-color;
        &__text {
            margin-left: 2rem;
            font-size: 2rem;

            * {
                margin-bottom: .6rem;
                &:last-child {
                    margin-bottom: 0rem;
                }
            }
        }
    }

    &__blog {
        a {
            color: $fifth-color;
            text-decoration: none;
        }
        grid-column: 6 / 13;
        &__title {
            color: $fifth-color;
            h2 {
                font-size: 3.5rem;
                margin-left: 3rem;
            }
            &:hover {
                text-decoration: underline;
                text-underline-offset: .1rem;
                cursor: pointer;
            }
        }
    }
}

.mysvg {
    border-radius: 2rem;
    margin-top: 2rem;
    path {
        transition: all 3s;
    }
    path:hover {
        fill: $base-color;
        transition: all .4s;
    }
}