@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 2rem;
    a {
        text-decoration: none;
    }
    &__segment {
        grid-column: 2 / 10;
        margin: 1rem 0 1rem 0;
        &__title {
            border-bottom: 2px solid black;
            margin-bottom: 1rem;
            h2 {
                font-size: 2rem;
            }
        }
        &__projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 4rem;
        }
    }
}

.project {
    font-size: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: .9rem;
    transition: all .1s;
    margin-bottom: 1rem;
    &:hover {
        transition: all .2s;
        color: white;
        background-color: $tertiary-color;
    }
    &__text {
        &__title {
            margin-bottom: .5rem;
        }
    }
}