@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.projects{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 2em;
    &__text {
        text-align: center;
        transition: all .8s;
        margin-bottom: 2rem;
        &:hover {
            transition: all .6s;
            font-size: 1.2rem;
        }
    }

    &__projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .col-2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                text-decoration: none;
            }
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #5C2041;
    position: relative;
    color: $secondary-color;
    width: 50vw;
    height: 20rem;
    padding: 4em;
    margin: .9rem;
    &:hover {
        cursor: pointer;
    }
    &__text {
        font-size: 1.1rem;
        display: flex;

        &__title {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3rem;
        }

        &__paragraph {
            transition: all 1.1s;
            font-size: 1.3rem;
        }
    }
    &:hover {
        .project__text__paragraph {
            font-size: 1.35rem;
        }
    }
}