@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.projects{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
        text-align: center;
        transition: all .8s;
    }

    &__projects {
        display: flex;
        flex-direction: column;
        width: 100%;

        .col-2 {
            display: flex;
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $secondary-color;
    background-color: #5C2041;
    position: relative;
    color: $secondary-color;
    height: 20rem;

    &__text {
        font-size: 1.3rem;
        display: flex;

        &__title {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2rem;
        }

        &__paragraph {
            transition: all 1.5s;
            font-size: 1.7rem;
        }
    }
}