@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.about {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;

    &__whatiknow {
        display: flex;
        align-items: center;
        width: 100%;
        &__web {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: start;
            flex: 1;
            &__tech {
                padding: 2rem;
                img {
                    padding: 1rem;
                }
            }
            &__other {
                padding: 2rem;
                img {
                    padding: 1rem;
                }
            }
        }
        &__illone {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }
}