.container {
    display: flex;
    width: 100%;
    height: 100%;
    &__header {
        flex: 2;
    }
    &__main {
        flex: 5;
        &__topImage {
            padding: 2rem;
            display: flex;
            justify-content: center;
            background-color: $secondary-color;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mysvg {
    path {
        transition: all 3s;
    }
    path:hover {
        fill: $secondary-color;
        transition: all 1s;
    }
}