@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.projects{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    &__web {
        width: 100%;
        &__projects {
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            align-items: center;
            width: 100%;
        }
    }
}

.project {
    width: 100%;
    padding: 6em;
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    &__text {
        margin-left: 2rem;
        &__title {

        }
        &__paragraph {

        }
    }
}