@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.projects{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    &__text {
        padding: 1rem;
    }
}