.text-header {
    h1 {
        color: $main-color-3;
        font-size: 1.3rem;
        padding: 1rem;
    }
}
.text-header2 {
    margin-top: 5vh;
    font-size: 1.2rem;
    margin-bottom: 4vh;
    h2 {
        color: $main-color-1;
    }
}
.text-headerr {
    color: $main-color-1;
    padding: 0.5rem 0.5rem;
    text-align: right;
    font-weight: 400;
}