$yellow: #FFE74C;
$red : #FF5964;
$cred: #A53F2B;
$ddblue: #031D44;
$black: #211A1D;
$pink: #CE7B91;

$white: #FFFAFA;

$blue: #C0E8F9;
$lblue: #06BEE1;
$mblue: #1768AC;
$lgblue: #2541B2;
$dblue: #03256C;
