
body {
    background-color: $base-color;
}
.header {
    padding: .5rem;
    &__navigation {
        display: flex;
        justify-content: center;
        width: 100%;
        user-select: none;
        a {
            margin: .5rem;
            padding: .9rem;
            border-radius: 2rem;
            text-align: center;
            font-size: .9rem;
            text-decoration: none;
            transition: all .2s;
            text-transform: uppercase;
            font-weight: 600;
            color: $forth-color;
        }
        a:hover {
            color: $fifth-color;
            transform: scale(1.08);
        }
        .selected {
            color: $fifth-color;
        }
    }

    &__links {
        position: absolute;
        top: 1rem;
        left: 1rem;
        &__linkedin {
            margin-right: 1rem;
        }
    }
}